<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 d-flex justify-content-center align-items-center mb-4 mb-md-0">
        <img src="../../assets/FullLogo_Transparent.png" class="img-fluid" style="max-width: 500px;" />
      </div>
  
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card shadow p-4 w-100" style="max-width: 500px;">
          <div class="text-center mb-4">
            <h4 class="text-black">E-Library Management</h4>
          </div>
  
          <form>
            <div class="form-group">
              <label for="email">Username</label>
              <input
                type="text"
                class="form-control"
                id="email"
                placeholder="Enter Username"
                required
              />
            </div>
  
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter password"
                required
              />
            </div>
  
            <button type="submit" class="btn btn-dark btn-block mt-4 align-items-center">
              Login
            </button>
          </form>
  
          <div class="text-center mt-3">
            <small>Don't have an account? <a href="#">Register</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
